name: Scheduled Jobs

on:
  workflow_dispatch:
  schedule:
    - cron: "*/5 * * * *" # Runs every 5 minutes

jobs:
  attempt_booking:
    name: Attempt Booking
    runs-on: ubuntu-latest
    
    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-node@v3
        with:
          node-version: 18  # FORCE v18 (safer than reading the .node-version file)
          cache: npm
          cache-dependency-path: package-lock.json

      # Create the secret file from your CYPRESS_ENV
      - run: echo '${{ secrets.CYPRESS_ENV }}' > cypress.env.json

      - run: npm ci

      - run: npm test
